10180:
  ssl:
    enable:  true
    cert:  keystore.jks
    password:  123456
  /js/*:
    type:  proxy
    path:  http://127.0.0.1:10081/js/
  /api/drg/cloud:
    type:  proxy
    path:  http://127.0.0.1:10081
    order: 1
  /api/*:
    type:  proxy
    path:  http://127.0.0.1:10086/
    order: 2
  /:
    type:  resource
    path:  file:
    order: 4
