1080:
  ssl:
    enable: true
    cert: keystore.jks
  /:
    type:  resource
    path:  file:shiyan
    order: 10
  /screen:
    type:  proxy
    path: http://localhost:8081/screen
    order: 1
  /console/summary:
    type:  proxy
    path:  http://localhost:8081/console/summary
    order: 1
  /ir1/api/*:
    type:  proxy
    path:  http://localhost:10096/
  /ir2/api/*:
    type: proxy
    path: http://localhost:10097/
  /ir3/api/*:
    type: proxy
    path: http://localhost:10098/
  /ir1:
    type:  resource
    path:  file:ir2/dist
    order:  4
  /ir2:
    type:  resource
    path:  file:ir2/dist
    order:  4
  /ir3:
    type:  resource
    path:  file:ir2/dist
    order:  4
