<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <!--配置服务端的一些设置。一些设置如安全证书不应该和pom.xml一起分发。这种类型的信息应该存在于构建服务器上的settings.xml文件中。-->
    <servers>
        <server>
            <id>nexus3</id>
            <username>admin</username>
            <password>a-:ie9w?:P5p</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>admin</username>
            <password>a-:ie9w?:P5p</password>
        </server>
        <server>
            <id>releases</id>
            <username>admin</username>
            <password>a-:ie9w?:P5p</password>
        </server>
        <server>
            <id>central</id>
            <username>UrfyNs</username>
            <password>lCM8tu2wSkTiUiECvNJGKIpX7iDybG9oW</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>homenas-nexus</id>
            <name>homenas-nexus</name>
            <url>http://nexus.nb1.xin:82/repository/maven-public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>test</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <altSnapshotDeploymentRepository>snapshots::http://nexus.nb1.xin:82/repository/maven-snapshots/</altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>releases::http://nexus.nb1.xin:82/repository/maven-releases/</altReleaseDeploymentRepository>
            </properties>
            <repositories>
                <repository>
                    <id>nexus3</id>
                    <name>homenas</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>fail</checksumPolicy>
                    </snapshots>
                    <url>http://nexus.nb1.xin:82/repository/maven-public/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>test</activeProfile>
    </activeProfiles>
</settings>