<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-80msg %l{%n%ex}%n"/>
        </Console>
        <RollingRandomAccessFile name="AllFile"
                                 fileName="logs/jnet.log"
                                 filePattern="logs/jnet/$${date:yyyy-MM}/app_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout>
                <Pattern>%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-80msg %l{%n%ex}%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <RollingRandomAccessFile name="SerAppFile"
                                 fileName="logs/jnet.log"
                                 filePattern="logs/jnet/$${date:yyyy-MM}/app_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout>
                <Pattern>%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-80msg %l{%n%ex}%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="error">
<!--            <AppenderRef ref="AllFile"/>-->
        </Root>
        <Logger name="com.jfirer.jnet.extend.http.coder.SSLDecoder" level="off">
<!--            <AppenderRef ref="Console"/>-->
            <AppenderRef ref="AllFile"/>
        </Logger>
        <Logger name="com.jfirer.jnet.extend.http.client.HttpConnectionPool" level="off">
<!--            <AppenderRef ref="AllFile"/>-->
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>